<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sit_in_a_row</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css" />
    <!-- MathJax for LaTeX 수식 렌더링 -->
    <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" async></script>

	<script src="https://unpkg.com/typeit@8.7.1/dist/index.umd.js"></script>
    <script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/4.0.0/model-viewer.min.js"></script>

	<script type="module" src="/main.mjs"></script>
</head>

<body>
    <div class="progress-bar"></div>
	
	<nav class="nav-bar">
		<h1 id="blog-h1">Sit_in_a_row</h1>
	</nav>
    
    <!-- 글 목록 표시 -->
	<div id="post-list-container" class="post-list-container">
		<model-viewer 
		class="model-viewer" 
		id="macbook" 
		src="/model/model.gltf" 
		disable-tap="" 
		interpolation-decay="100" 
		interaction-prompt="none" 
		ar="" 
		ar-modes="webxr scene-viewer quick-look" 
		camera-controls="" 
		tone-mapping="commerce" 
		shadow-intensity="1.5" 
		camera-orbit="50deg 70deg 0.5m" 
		field-of-view="10deg" 
		style="background-color: white;" 
		ar-status="not-presenting">
			<div class="progress-bar hide" slot="progress-bar">
				<div class="update-bar"></div>
			</div>
		</model-viewer>

		<div id="tag-list" class="tag-list"></div>

		<div id="post-list" class="post-list">

		</div>
	</div>


    <!-- 글 본문 표시 -->
    <div id="post-content" style="display: none;"></div>

	<!-- vercel 인사이트 -->
	<script>
		window.si = window.si || function () { (window.siq = window.siq || []).push(arguments); };
		window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
	  </script>
	<script defer src="/_vercel/speed-insights/script.js"></script>
	<script defer src="/_vercel/insights/script.js"></script>
</body>

</html>