@import url(/css/base.css);
@import url(/css/layout.css);
@import url(/css/notion-blocks.css);
@import url(/css/components.css);
@import url(/css/animation.css);
@import url(/css/model-viewer.css);

:root {
    --color-background: #f5f6fa;
    --color-blue: #3498db
}

#tag_item_All {
    background-color: rgba(0, 0, 0, 0.5);
}
.financial_engineering {
    background-color: rgba(52, 152, 219, 0.5);
}
.math {
    background-color: rgba(219, 205, 52, 0.5);
}
.cfa {
    background-color: rgba(219, 127, 52, 0.5);
}
.MISC {
    background-color: rgba(219, 52, 124, 0.5);
}